################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2048InConsole/v14
/2048InConsole/bin/Debug
/2048InConsole/obj/Debug
